---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Blog About The Thing";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Blog All Of It</h2>
  {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

</BaseLayout>
