---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page of Humble Beginnings";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>The awesomeness homepage don't stop for nothin'</h2>
</BaseLayout>
